# {{ansible_managed}}

[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
After=network-online.target

[Service]
Type=notify
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
EnvironmentFile={{ k3s_systemd_environment_file_path | default("") }}

{% if 'master' in k3s_type   %}
{% if local_storage_enabled  %}ExecStart=/usr/local/bin/k3s server {{ extra_server_args | default("") }} --default-local-storage-path {{local_storage_path}}
{% else  %}ExecStart=/usr/local/bin/k3s server {{ extra_server_args | default("") }}{% endif %}
{% else  %}ExecStart=/usr/local/bin/k3s agent {{ extra_agent_args | default("") }}
{% endif  %}

KillMode=process
Delegate=yes
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
