# {{ansible_managed}}
K3S_NODE_NAME={{inventory_hostname}}
{% if master_ip == ansible_host  %}
{% if k3s_datastore_endpoint is defined %}
K3S_DATASTORE_ENDPOINT={{ k3s_datastore_endpoint }}
K3S_CLUSTER_RESET={{k3s_cluster_reset}}
{% else %}
K3S_CLUSTER_INIT=true
{% endif %}
{% else %}
K3S_URL="https://{{ master_ip }}:6443"
K3S_TOKEN="{{ hostvars[groups['master'][0]]['token'] }}"
{% endif %}
